/* ===== GLOBAL ===== */
body{
  font-family:'Noto Sans Devanagari', sans-serif;
  margin:0;
  background:#f8fafc;
  line-height:1.8;
  letter-spacing:0.3px;
}

.container{
  width:92%;
  max-width:1200px;
  margin:auto;
}

/* ===== HEADER ===== */
header{
  background:white;
  padding:14px 0;
  box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.logo-area{
  display:flex;
  align-items:center;
  gap:15px;
  justify-content:center;
}

.logo-area img{
  width:80px;
}

.tagline{
  font-size:16px;
  font-style:italic;
  color:#2563eb;
}

/* ===== NAVBAR ===== */
nav{
  display:flex;
  justify-content:center;
  gap:40px;
  background:#1e3a8a;
  padding:14px 0;
  box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

nav a{
  color:white;
  text-decoration:none;
  font-weight:600;
  transition:0.3s;
}

nav a:hover{
  transform:translateY(-2px);
  opacity:0.85;
}

/* hamburger hidden on desktop */
.menu-toggle{
  display:none;
  font-size:28px;
  cursor:pointer;
}

/* ===== SLIDER ===== */
.slider{
  position:relative;
  width:100%;
  height:420px;
  overflow:hidden;
}

.slide{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:opacity 1s ease;
}

.slide-text{
  position:absolute;
  bottom:40px;
  left:50%;
  transform:translateX(-50%);
  color:white;
  font-size:28px;
  font-weight:600;
  text-align:center;
  width:90%;
}

.slide.active{
  opacity:1;
}



/* ===== PRERNA SECTION ===== */
.prerna{
  background:#eff6ff;
  padding:50px 0;
}

.prerna p{
  font-size:17px;
  line-height:1.9;
  color:#444;
}

/* ===== FOOTER ===== */
footer{
  text-align:center;
  padding:20px;
  background:#1e3a8a;
  color:white;
  margin-top:40px;
}

/* ===== MOBILE ===== */
@media(max-width:768px){

  .slider{
    height:240px;
  }

  .menu-toggle{
  display:flex;
  align-items:center;
  gap:8px;
  position:absolute;
  right:20px;
  top:20px;
  z-index:1100;
  background:white;
  padding:8px 14px;
  border-radius:6px;
  box-shadow:0 3px 10px rgba(0,0,0,0.15);
  font-weight:600;
  color:#1e3a8a;
  }

   .slide-text{
    font-size:18px;
    bottom:20px;
    padding:0 15px;
  }

  nav{
    flex-direction:column;
    position:fixed;
    top:0;
    left:-100%;
    width:250px;
    height:100%;
    background:#fb923c;
    padding-top:80px;
    transition:0.3s;
    z-index:1001;
  }

nav a:hover{
  transform:translateY(-2px);
  opacity:0.85;
  text-decoration:underline;
}  

  nav.show{
    left:0;
  }
  }
.gallery-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  gap:15px;
  margin-top:30px;
}

.gallery-grid img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:10px;
}

h2{
  color:#1e3a8a;
  font-weight:700;
  margin-bottom:20px;
}
